<!DOCTYPE html>
<html lang="de">
<head>
    <title>Über Nengo</title>
</head>
<body>
    <h1>Über Nengo</h1>
    <p>
        Mit <b>Nengo</b> wird eine Datumsangabe in der 
        japanischen imperialen (feudalen) Zeitrechnung benannt. 
        Dies wird noch heute für die amtliche Angabe von Datumswerten in Japan benutzt. 
        In der Alltagssprache wird es für Geburtstage benutzt.
    </p>
    <h2>Regenten</h2>
    <p>Seit der Neuzeit gab es folgende Regentschaften:</p>
        <table>
            <tr><th>Herrscher</th><th>Inthronisation</th>
            </tr>
            <tr><td><span lang="jp">明治</span> meiji</td><td>08.09.1868</td></tr>
            <tr><td><span lang="jp">大正</span> taisho</td><td>30.07.1912</td></tr>
            <tr><td><span lang="jp">正和</span> showa</td><td>25.12.1926</td></tr>
            <tr><td><span lang="jp">平成</span> heisei</td><td>08.01.1989</td></tr>
            <tr><td><span lang="jp">令和</span> reiwa</td><td>01.05.2019</td></tr>
        </table>
    <p>
        Nach dem Slogan der jeweiligen Regenten wird angegeben,  
        im wievielten Jahr der Regentschaft sich etwas ereignet. <br/>
        Damit ist der Jahreswechsel auf den Jahrestag der Thronbesteigung festgelegt.
    </p><p>
        aus Wikipedia.de: <br/>
        Das erste Jahr einer Periode – das sich ja nicht mit dem westlichen Kalender deckt – 
        wird als gannen (元年) bezeichnet. <br/>
        Das heißt z. B. 1989 ist bis zum 7. Januar = Shōwa 64, 
        danach dann Heisei gannen. 
    </p>
    <p>Zum Datum wird der Monat und Tag angegeben, diese allerdings in westlicher
        Zählung. </p>

    <h2>Monate</h2>
    <p>Die Benennung der Monate erfolgt entweder sinojapanisch, also als Zahl,
        mit dem Zusatz gatsu (Monat), oder
        durch Angabe der traditionellen Mond-Monate.
    </p>
    <table>
        <tr><th>Monat</th>
            <th>sinojapanisch</th>
            <th>traditionell</th>
        </tr>
        <tr><td>Januar</td>
            <td>ichigatsu <span lang="jp">一月</span></td>
            <td>mutsuki <span lang="jp">睦月</span></td>
        </tr>
        <tr><td>Februar</td>
            <td>nigatsu <span lang="jp">二月</span></td>
            <td>kisaragi <span lang="jp">如月</span></td>
        </tr>
        <tr><td>März</td>
            <td>sangatsu <span lang="jp">三月</span></td>
            <td>yayoi <span lang="jp">弥生</span></td>
        </tr>
        <tr><td>April</td>
            <td>shigatsu <span lang="jp">四月</span></td>
            <td>uzuki <span lang="jp">卯月</span></td>
        </tr>
        <tr><td>Mai</td>
            <td>gogatsu <span lang="jp">五月</span></td>
            <td>satsuki <span lang="jp">皐月</span></td>
        </tr>
        <tr><td>Juni</td>
            <td>rokugatsu <span lang="jp">六月</span></td>
            <td>minatsuki <span lang="jp">水無月</span></td>
        </tr>
        <tr><td>Juli</td>
            <td>shichigatsu <span lang="jp">七月</span></td>
            <td>fumizuki <span lang="jp">文月</span></td>
        </tr>
        <tr><td>August</td>
            <td>hachigatsu <span lang="jp">八月</span></td>
            <td>hazuki <span lang="jp">葉月</span></td>
        </tr>
        <tr><td>September</td>
            <td>kugatsu <span lang="jp">九月</span></td>
            <td>nagatsuki <span lang="jp">長月</span></td>
        </tr>
        <tr><td>Oktober</td>
            <td>juugatsu <span lang="jp">十月</span></td>
            <td>kaminazuki <span lang="jp">神無月</span></td>
        </tr>
        <tr><td>November</td>
            <td>juuichigatsu <span lang="jp">十一月</span></td>
            <td>shimotsuki <span lang="jp">霜月</span></td>
        </tr>
        <tr><td>Dezember</td>
            <td>juunigatsu <span lang="jp">十二月</span></td>
            <td>shiwasu <span lang="jp">師走</span></td>
        </tr>
    </table>

    <h2>Tag</h2>
    <p>Die Tageszählung erfolgt sinojapanisch. <br/>
        Geschrieben wird die Tageszahl meist mit westlichen Ziffern. <br/>
        Da diese bekannt sind geben wir in der Ausgabe Kanji an.
        Die Lesung erfolgt unregelmäßig.
    </p>
    <table>
        <tr><th>Zahl</th>       <th>Kanji</th><th>Lesung</th></tr>
        <tr><td> 1 ichi</td>    <td>一日</td><td>tsuitachi</td></tr>
        <tr><td> 2 ni</td>      <td>二日</td><td>futsuka</td></tr>
        <tr><td> 3 san</td>     <td>三日</td><td>mikka	</td></tr>
        <tr><td> 4 yon</td>     <td>四日</td><td>yokka</td></tr>
        <tr><td> 5 go</td>      <td>五日</td><td>itsuka</td></tr>
        <tr><td> 6 roku</td>    <td>六日</td><td>muika</td></tr>
        <tr><td> 7 shichi</td>  <td>七日</td><td>nanoka</td></tr>
        <tr><td> 8 hachi</td>   <td>八日</td><td>yooka</td></tr>
        <tr><td> 9 kyu</td>     <td>九日</td><td>kokonoka</td></tr>
        <tr><td>10 juu</td>     <td>十日</td><td>tooka</td></tr>
        <tr><td>11 juuichi</td> <td>十一日</td><td>juuichinichi</td></tr>
        <tr><td>12 juuni</td>   <td>十二日</td><td>juuniichi</td></tr>
        <tr><td>13 juusan</td>  <td>十三日</td><td>juusanichi</td></tr>
        <tr><td>14 juuyon</td>  <td>十四日</td><td>juuyokka</td></tr>
        <tr><td>15 juugo</td>   <td>十五日</td><td>juugonichi</td></tr>
        <tr><td>16 juuroku</td> <td>十六日</td><td>juurokunichi</td></tr>
        <tr><td>17 juushichi</td>   <td>十七日</td><td>juushichinichi</td></tr>
        <tr><td>18 juuhachi</td>    <td>十八日</td><td>juuhachinichi</td></tr>
        <tr><td>19 juukyu</td>      <td>十九日</td><td>juukunichi</td></tr>
        <tr><td>20 nijuu</td>       <td>二十日</td><td>hatsuka</td></tr>
        <tr><td>21 nijuuichi</td>   <td>二十一日</td><td>nijuuichinichi</td></tr>
        <tr><td>22 nijuuni</td>     <td>二十二日</td><td>nijuuniichi</td></tr>
        <tr><td>23 nijuusan</td>    <td>二十三日</td><td>nijuusanichi</td></tr>
        <tr><td>24 nijuuyon</td>    <td>二十四日</td><td>nijuuyokka</td></tr>
        <tr><td>25 nijuugo</td>     <td>二十五日</td><td>nijuugonichi</td></tr>
        <tr><td>26 nijuuroku</td>   <td>二十六日</td><td>nijuurokunichi</td></tr>
        <tr><td>27 nijuushichi</td> <td>二十七日</td><td>nijuushichinichi</td><tr>
        <tr><td>28 nijuuhachi</td>  <td>二十八日</td><td>nijuuhachinichi</td></tr>
        <tr><td>29 nijuukyu</td>    <td>二十九日</td><td>nijuukunichi</td></tr>
        <tr><td>30 sanjuu</td>      <td>三十日</td><td>sanjuunichi</td></tr>
        <tr><td>31 sanjuichi</td>   <td>三十一日</td><td>sanjuuichinichi</td></tr>
    </table>

    <h2>Wochentage</h2>
    <p> Die Wochentage haben traditionelle Namen, ähnlich wie im Westen. </p>
    <table>
        <tr><th>Tag</th>       <th>Kanji</th><th>Lesung</th></tr>
        <tr><td>Montag</td>
            <td><span lang="jp">月曜日</span></td>
            <td>getsuyoubi</td>
        </tr>
        <tr><td>Dienstag</td>
            <td><span lang="jp">火曜日</span></td>
            <td>kayoubi</td>
        </tr>
        <tr><td>Mittwoch</td>
            <td><span lang="jp">水曜日</span></td>
            <td>suiyoubi</td>
        </tr>
        <tr><td>Donnerstag</td>
            <td><span lang="jp">木曜日</span></td>
            <td>mokuyoubi</td>
        </tr>
        <tr><td>Freitag</td>
            <td><span lang="jp">金曜日</span></td>
            <td>kinyoubi</td>
        </tr>
        <tr><td>Samstag</td>
            <td><span lang="jp">土曜日</span></td>
            <td>doyoubi</td>
        </tr>
        <tr><td>Sonntag</td>
            <td><span lang="jp">日曜日</span></td>
            <td>nichiyoubi</td>
        </tr>
    </table>

    <h2>Beispiele</h2>
    <p>Die Gesamtausgabe setzt sich also zusammen aus:</p>
    <ul>
        <li> Jahr
            <ul>
            <li>Nengo-Bezeichnung</li>
            <li>Herrschaftsjahr</li>
            <li>der Zusatz nen (年) für <i>Jahr</i></li>
            </ul>
        </li>
    
        <li>Monat
            <ul>
                <li>der sinojapanische Monat, endend auf gatsu (月) <i>Mond</i></li>
                <li>der traditionelle Monat, zumeist endend auf tsuki (ebenfalls Mond), in Klammern</li>
            </ul>
        </li>

        <li>Tagszahl, unregelmäßig oder endend auf nichi 日</li>

        <li>Wochentag, in Klammern</li>
    </ul>

    <h2>Beispielaufruf</h2>
    <ul>
        <li>Eingabe: 31.05.1961</li>
        <li>Ergebnis: 正和三十五年五月(皐月)三十一日(水曜日)</li>
    </ul>

    <p>&nbsp;</p>

</body>
</html>
